/* * {
border: 1px solid gold;
} */

/* /////////////////////////////////////////////////////////// Search Box
//////////////////////////////////////////////////////////*/

.search {
    width: 80%;
    /* margin-left: 2em; */
    margin: 2em auto;
    border: 1px solid black;
}

#id {
    display: flex;
    justify-content: space-between;
}

.parameter {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.parameter button {
    width: 23%;
}

.minmax {
    display: flex;
    justify-content: flex-end;
}

.min, .max {
    width: 18%;
    margin-left: .45em
}

#name, #food {
    width: 30%
}
#search-result {
    border: 1px solid black;
    display: none;
}

.beer-info {
    border-bottom: 1px solid black;
}

/* /////////////////////////////////////////////////////////// Strong Box
//////////////////////////////////////////////////////////*/


.strong-container {
    display: flex;
    justify-content: center;
    height: 50%;
}

.strong-images {
    display: flex;
    justify-content: space-around;
}

.strong-images img {
    display: none;
    height: 70%;
    border: 4px solid black;
}

.strong-images img:first-of-type {
    display: block;
}

.strong-button {
    font-size: 40px;
    padding: 150px 5px 10px 5px;
}


/* /////////////////////////////////////////////////////////// Random Box
//////////////////////////////////////////////////////////*/


.random-box {
    width: 50%;
    height: 400px;
    margin: 10px auto;
    border: 1px solid black;
    background-image: url('imgs/empty-bottle.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.random {
    padding: 0px 5px;
    color: blue;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.6);
}

h1 {
    text-align: center;

}

@media (min-width: 700px) {
    .random {
        text-align: justify;
    }
}
