:root {
    --button-color: #7C4236
}


body {
    line-height: 20px;
    background-image: url("imgs/Background.jpg");
    background-size: contain;
}


section1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

@media (min-width: 700px) {
    section1 {
        flex-direction: row;
        justify-content: space-between;
    }
}
/* /////////////////////////////////////////////////////////// Search Box
//////////////////////////////////////////////////////////*/

.search {
    height: 20%;
    margin: 3em auto;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(144,93,61, .6);
}

.parameter {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.parameter button {
    width: 100px;
    height: 35px;
    background-color: var(--button-color);
    border: 2px outset var(--button-color);
    color: ivory;
    font-size: 12px;
    line-height: 12px;
    font-family: 'Crimson Text', serif;
}

input {
    font-size: 14px;
    background-color: ivory;
}

.reset-box {
    display: flex;
    justify-content: center;
}

#reset {
    width: 150px;
    height: 35px;
    background-color: var(--button-color);
    border: 2px outset var(--button-color);
    color: ivory;
    margin: 20px 0px;
    font-family: 'Crimson Text', serif;
    font-size: 16px;
}

.minmax {
    display: flex;
    justify-content: flex-end;
}

.min, .max {
    width: 18.5%;
    margin-left: .45em
}

#name, #food {
    width: 30%
}

.click-beer {
    margin-left: 5px;
    display: none;
}

#search-result {
    border: 1px solid black;
    display: none;
    width: 382px;
}

.beer-info {
    border-bottom: 1px solid black;
    margin: 5px;
    cursor: pointer;
    font-family: 'Special Elite', cursive;

}

.more-info {
    display: none;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

h2 {
    margin: 3px auto;
    font-family: 'Special Elite', cursive;
    width: 200px;
    text-align: center;
    line-height: 30px;

}

@media (min-width: 600px) {
    .search {
        width: 50%
    }

    #search-result {
        width: 100%;
    }

    h2 {
        margin: 10px;
        width: 100%;
    }
}



/* ///////////////////////////////////////////////////////////
Random Box
//////////////////////////////////////////////////////////*/


.random-box {
    width: 60%;
    height: 300px;
    margin: 10px auto;
    border: 1px solid black;
    background-image: url('imgs/empty-bottle.png');
    background-repeat: repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(144,93,61, .6)
}

.random {
    padding: 0px 5px;
    color: #C19A6B;
    text-shadow: 1px 1px #4E342E;
    text-align: left;
    background-color: rgb(110,54,45,.6);
}

.random div {
    font-family: 'Crimson Text', serif;
}

h1 {
    font-size: 30px;
    font-family: 'Special Elite', cursive;
}

@media (min-width: 600px) {
    .random {
        text-align: justify;
    }

    .random-box {
        width: 300px;
        height: 400px;
        background-size: auto;
    }

    h1 {
        font-size: 30px;
    }
}


/* ///////////////////////////////////////////////////////////
Strong Box
//////////////////////////////////////////////////////////*/

.strong-container {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.strong-images {
    display: flex;
    justify-content: space-around;
    background-color: rgb(144,93,61, .6)
}

.strong-images img {
    display: none;
    height: 250px;
    border: 4px solid black;
}

.strong-images img:first-of-type {
    display: block;
}

.buttons {
    display: flex;
    justify-content: space-around;
    height: 20%;
    font-size: 40px;
    margin-top: 10px;
    margin-right: 10px;
    margin: 10px 10px 10px 0px;
}

.strong-button {
    padding: 3px;
}

.strong-text {
    width: 40%;
    font-size: 16px;
    padding: 0px 20px;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: .3px;
    background-color: rgb(110,54,45,.6);
    color: #C19A6B;
    text-shadow: 1px 2px #4E342E;
    margin-left: 5px;
}

.strong-fact {
    display: none;

}

.strong-fact:first-of-type {
    display: block;
}

h3 {

}

h4 {
    font-size: 16px;
}

@media (min-width: 600px) {
    .strong-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    .buttons {
        margin-left: 20px;
    }

    .strong-images img {
        height: 400px;
    }
}
