:root {
    --button-color: #7C4236
}


body {
    background-image: url("imgs/Background.jpg");
    background-size: auto;
    background-position: absolute;
    font-family: 'Special Elite', cursive;
    padding-top: 20px;
}

#navbar {
    background-color: var(--button-color);
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#navbar a {
    text-decoration: none;
    color: #DBB27A;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    margin: 20px;
}

.fixed {
    position: fixed;
    top: 0;
    width: 97%;
}


#heading {
    font-size: 35px;
    margin: 40px 0px 15px 0px;
    line-height: 70px;
    display: flex;
    justify-content: center;

}


section1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

@media (min-width: 700px) {
    section1 {
        flex-direction: row;
        justify-content: space-between;
    }

    #navbar a {
        font-size: 18px;
    }

    #heading {
        font-size: 55px;
    }

    .fixed {
        width: 98.5%;
    }
}
/* ///////////////////////////////////////////////////////////
//Search Box//
//////////////////////////////////////////////////////////*/

.search {
    height: 20%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(144,93,61, .6);
    border-radius: 3px;
}

.search h3 {
    margin: 8px;
    color: #DBB27A;
    font-size: 20px;
    text-shadow: 2px 1px rgba(0, 0, 0, 0.4);
}

.parameter {
    display: flex;
    justify-content: space-between;
    margin: 4px 9px;
}

.parameter button {
    width: 100px;
    height: 40px;
    background-color: var(--button-color);
    border: 2px outset var(--button-color);
    color: #DBB27A;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
    font-size: 14px;
    line-height: 15px;
    font-family: 'Special Elite', cursive;
    border-radius: 3px;
}

input {
    font-size: 14px;
    background-color: #ECDECA;
}

.reset-box {
    display: flex;
    justify-content: center;
}

#reset {
    width: 150px;
    height: 35px;
    background-color: var(--button-color);
    border: 2px outset var(--button-color);
    font-family: 'Special Elite', cursive;
    color: #DBB27A;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
    margin: 20px 0px;
    font-size: 18px;
    border-radius: 3px;
}

.minmax {
    display: flex;
    justify-content: flex-end;
}

.min, .max {
    width: 18.5%;
    margin-left: .45em;
    color: #7C4236;
    font-family: 'Oswald', sans-serif;
    padding-left: 2px;
}

#name, #food {
    width: 31%;
    color: #7C4236;
    font-family: 'Oswald', sans-serif;
    padding-left: 5px;
}

::placeholder {
    color: #7C4236;
}
.click-beer {
    margin-left: 5px;
    display: none;
    font-family: 'Fjalla One', sans-serif;
    color: #C19A6B;
}

#search-result {
    border: 1px solid #7C4236;
    display: none;
    width: 100%;
}

.beer-info {
    border-bottom: 1px solid #7C4236;
    margin: 5px;
    cursor: pointer;
    color: #C19A6B;
    text-shadow: 1px 1px #4E342E;

}

.beer-info:last-of-type {
    border-bottom: none;
}

.more-info {
    display: none;
    font-family: 'Oswald', sans-serif;
    color: #C19A6B;
}

h2 {
    margin: 3px auto;
    width: 200px;
    text-align: center;
    line-height: 30px;

}

@media (min-width: 700px) {
    .search {
        width: 50%
    }

    h2 {
        margin: 10px;
        width: 100%;
        font-size: 30px;
    }

    .min, .max {
        width: 23.5%;
    }

    #name, #food {
        width: 39%
    }
}



/* ///////////////////////////////////////////////////////////
//Random Box//
//////////////////////////////////////////////////////////*/


.random-box {
    width: 60%;
    height: 310px;
    margin: 10px auto;
    background-image: url('imgs/empty-bottle.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(144,93,61, .6);
    border-radius: 3px;
}

.random {
    padding: 0px 5px;
    color: #C19A6B;
    text-shadow: 1px 1px #4E342E;
    text-align: left;
    background-color: rgb(110,54,45,.6);
    font-family: 'oswald', sans-serif;
    font-size: 16px;
    display: none;
}


h1 {
    font-size: 25px;
    text-align: center;
}

.click-for-another {
    font-size: 17px;
    padding: 4px 0px 4px 0px;
    font-weight:bolder;
    font-family: 'Special Elite', cursive;
}

@media (min-width: 700px) {
    .random {
        text-align: justify;
    }

    .random-box {
        width: 300px;
        height: 400px;
        background-size: auto;
    }

    h1 {
        font-size: 30px;
    }
}


/* ///////////////////////////////////////////////////////////
//Strong Box//
//////////////////////////////////////////////////////////*/

.strong-container {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.strong-images {
    display: flex;
    justify-content: space-around;
    background-color: rgb(144,93,61, .6);
    border-radius: 3px;
}

.strong-images img {
    display: none;
    height: 250px;
}

.strong-images img:first-of-type {
    display: block;
}

.buttons {
    display: flex;
    justify-content: space-around;
    height: 20%;
    font-size: 40px;
    margin-top: 10px;
    margin-right: 10px;
    margin: 10px 10px 10px 0px;
}

.strong-button {
    margin: 6px;
    color: #C19A6B;
    text-shadow: 2px 2px #4E342E;
    font-size: 45px;
}


.strong-text {
    width: 40%;
    font-size: 16px;
    padding: 0px 20px;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: .3px;
    background-color: rgb(110,54,45,.6);
    color: #C19A6B;
    text-shadow: 1px 2px #4E342E;
    margin-left: 5px;
    border-radius: 3px;
}

.strong-fact {
    display: none;

}

.strong-fact:first-of-type {
    display: block;
}

h4 {
    font-size: 16px;
}

@media (min-width: 700px) {
    .strong-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    .buttons {
        margin-left: 20px;
    }

    .strong-images img {
        height: 400px;
    }
}
