:root {
    --dark-brown: #7C4236;
    --light-brown: #DBB27A;
    --tan: #C19A6B;
}


body {
    background-image: url("imgs/Background.jpg");
    background-size: auto;
    background-attachment: fixed;
    font-family: 'Special Elite', cursive;
    cursor:default;
}

/* Nav Bar */

#navbar {
    background-color: var(--dark-brown);
    height: 78px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0px;
    width: 100%;
}

#navbar a, .fave-heading {
    text-decoration: none;
    color: var(--light-brown);
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    margin: 10px;
}


#modal {
    display: none;
    background-color: rgb(255,255,240, .8);
    color: #ECDECA
    margin-top: 10px;
    width: 200px;
    padding: 5px;
    font-size: 12px;
    position: fixed;
    right: 8px;
}

#modal button {
    background-color: rgb(255,255,240, .8);
    border: 1px solid var(--dark-brown);
    font-family: 'Oswald', sans-serif;
    margin: 5px;
    border-radius: 3px;
}


#heading {
    font-size: 35px;
    margin: 90px 0px 15px 0px;
    line-height: 70px;
    display: flex;
    justify-content: center;
}


section {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

@media (min-width: 700px) {
    section {
        flex-direction: row;
        justify-content: space-between;
    }

    #navbar a, .fave-heading {
        font-size: 18px;
    }

    #heading {
        font-size: 55px;
    }

    #modal {
        font-size: 16px;
    }
}
/* ///////////////////////////////////////////////////////////
//Search Box//
//////////////////////////////////////////////////////////*/

.search {
    height: 20%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(144,93,61, .6);
    border-radius: 3px;
    width: 100%;
}

.search h3 {
    margin: 8px;
    color: var(--light-brown);
    font-size: 20px;
    text-shadow: 2px 1px rgba(0, 0, 0, 0.4);
}

.search h5 {
    font-size: 12px;
    margin: 1px 5px 1px 10px;
    color: var(--light-brown);
    text-shadow: 2px 1px rgba(0, 0, 0, 0.4);
    line-height: 14px;
    display: none;
}

#mobileHelp {
    display: block;
    font-family: 'Oswald', sans-serif;
}

.parameter {
    display: flex;
    justify-content: space-between;
    margin: 4px 9px;
}

.parameter button {
    width: 100px;
    height: 40px;
    background-color: var(--dark-brown);
    border: 2px outset var(--dark-brown);
    color: var(--light-brown);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
    font-size: 14px;
    line-height: 15px;
    font-family: 'Special Elite', cursive;
    border-radius: 3px;
}

input {
    font-size: 14px;
    background-color: #ECDECA;
}

.minmax {
    display: flex;
    justify-content: flex-end;
}

.min, .max {
    width: 19.5%;
    margin-left: .45em;
    color: var(--dark-brown);
    font-family: 'Oswald', sans-serif;
    padding-left: 2px;
}

#name, #food {
    width: 31%;
    color: var(--dark-brown);
    font-family: 'Oswald', sans-serif;
    padding-left: 5px;
}

::placeholder {
    color: var(--dark-brown);
}

.click-beer {
    margin-left: 5px;
    display: none;
    font-family: 'Fjalla One', sans-serif;
    color: var(--tan);
}

.reset-box {
    display: flex;
    justify-content: center;
}

#reset {
    width: 150px;
    height: 35px;
    background-color: var(--dark-brown);
    border: 2px outset var(--dark-brown);
    font-family: 'Special Elite', cursive;
    color: var(--light-brown);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
    margin: 20px 0px;
    font-size: 18px;
    border-radius: 3px;
}

#search-result {
    border: 1px solid var(--dark-brown);
    display: none;
    width: 100%;
}

.beer-info {
    border-bottom: 1px solid var(--dark-brown);
    margin: 5px;
    cursor: pointer;
    color: var(--tan);
    text-shadow: 1px 1px black;

}

.beer-info:last-of-type {
    border-bottom: none;
}

.more-info {
    display: none;
    font-family: 'Oswald', sans-serif;
    color: #3B2824;
    text-shadow: none;
}

.add {
    font-size: 14px;
    color: #ECDECA;
    text-shadow: 1px 1px rgb(0,0,0,.5);
    letter-spacing: .03em;
}

h2 {
    margin: 3px auto;
    width: 200px;
    text-align: center;
    line-height: 30px;
}


@media (min-width: 700px) {
    .search {
        width: 50%
    }

    h2 {
        margin: 10px;
        width: 100%;
        font-size: 30px;
    }

    .min, .max {
        width: 23.5%;
    }

    #name, #food {
        width: 39%
    }
}

@media (min-width: 420px) {
    #mobileHelp {
        display: none;
    }
}



/* ///////////////////////////////////////////////////////////
//Random Box//
//////////////////////////////////////////////////////////*/


.random-box {
    width: 80%;
    height: 360px;
    margin: 10px auto;
    background-image: url('imgs/empty-bottle.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(144,93,61, .6);
    border-radius: 3px;
}

.random {
    padding: 0px 5px;
    color: var(--tan);
    text-shadow: 1px 1px #4E342E;
    text-align: left;
    background-color: rgb(110,54,45,.6);
    font-family: 'oswald', sans-serif;
    font-size: 16px;
    display: none;
}


h1 {
    font-size: 25px;
    text-align: center;
}

.click-for-another {
    font-size: 17px;
    padding: 4px 0px 4px 0px;
    font-weight:bolder;
    font-family: 'Special Elite', cursive;
}

@media (min-width: 700px) {
    .random {
        text-align: justify;
    }

    .random-box {
        width: 300px;
        height: 420px;
        background-size: auto;
    }

    h1 {
        font-size: 30px;
    }
}

@media (max-width: 420px) {
    .random-box {
        width: 100%;
    }
}

/* ///////////////////////////////////////////////////////////
//Strong Box//
//////////////////////////////////////////////////////////*/

.strong-container {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.strong-images {
    display: flex;
    justify-content: space-around;
    background-color: rgb(144,93,61, .6);
    border-radius: 3px;
}

.strong-images img {
    display: none;
    height: 250px;
}

.strong-images img:first-of-type {
    display: block;
}

.buttons {
    display: flex;
    justify-content: space-around;
    height: 20%;
    font-size: 40px;
    margin-top: 10px;
    margin-right: 10px;
    margin: 10px 10px 10px 0px;
}

.strong-button {
    margin: 6px;
    color: var(--tan);
    text-shadow: 2px 2px #4E342E;
    font-size: 45px;
}


.strong-text {
    width: 90%;
    font-size: 16px;
    padding: 0px 20px;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: .3px;
    background-color: rgb(110,54,45,.6);
    color: var(--tan);
    text-shadow: 1px 2px #4E342E;
    margin-left: 5px;
    border-radius: 3px;
}

.strong-fact {
    display: none;

}

.strong-fact:first-of-type {
    display: block;
}

h4 {
    font-size: 16px;
}

.history {
    width: 100%;
}

@media (min-width: 700px) {
    .strong-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    .buttons {
        margin-left: 20px;
    }

    .strong-images img {
        height: 400px;
    }

    .strong-text {
        width: 60%
    }
}

/* Footer */

footer {
    font-size: 12px;
    font-family: 'Oswald', sans-serif;
    margin-top: 20px;
    color: var(--tan);
}

footer a:link {
    color: var(--tan)
}

footer a:visited {
    color: var(--tan)
}
